/* init */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ebf5fc;
}

.ofeii-card{
  margin-top: 1rem;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%,-50%);
  text-align: center;
}

/* info */
.ofeii-info{
  text-align: left;
}
.ofeii-name{
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
  font-size: 2rem;
  line-height: 3rem;
}
.ofeii-name-en{
  font-family: 'Saira Extra Condensed',serif;
  color: #bd5d38;
  font-size: 2rem;
}
.ofeii-college{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

}
.ofeii-codemonkey{
  font-size: 1.3rem;
  line-height: 2rem;
  color: #bd5d38;
}
.ofeii-callme{
  font-family: 'Saira Extra Condensed',serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.ofeii-email{
  text-decoration: none;
  color: #bd5d38;
}
.ofeii-hr{
  background: #bd5d38;
  /* color: #bd5d38; */
  height: 4px;
  width: 14rem;
  margin-top: .618rem;
  margin-bottom: 1.618rem;

}

/* card  ofeii-socail-ul */
ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 14rem;
  border-radius: 8px;
  padding: 1rem;
  background: #ebf5fc;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);

}

ul li{
  position: relative;
  list-style: none;
  text-align: center;
  margin: 1rem;
}

ul li label{
  position: relative;
  cursor: pointer;
}

ul li label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul li label :checked ~ .icon-box {
  box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, .1);
}
ul li label :checked ~ .icon-box .fa {
  transform: scale(0.95);
}
ul li label .icon-box {
  width: 4rem;
  height: 4rem;
  background: #ebf5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, .1);
  border-radius: 10px;
}
.social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all .15s ease;
}

.social-icon:hover{
  color: #fff;
}

.social-icon:hover .tooltip{
  visibility: visible;
  opacity: 1;
  transform: translate(-50%,-150%);
}

.social-icon-base {
  background: #fff;
  color: #000;
}
.social-icon-base .tooltip {
  background: #000;
  color: #fff;
}
.social-icon-base .tooltip:after {
  border-top-color: #000;
}

.link-img-icon{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

/* tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.4rem 0.6rem;
  border-radius: 40px;
  font-size: 0.4rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}